<html>

<head>
    <title>
        <%- Title %>
    </title>
    <% include ../partials/head %>
</head>

<body>
    <div>
        <% include ../partials/navigation %>
    </div>
    <div class="container main-content">
        <% include ../partials/top-ads %>
        <section>
            <div class="row">
                <h3>Castle Rush:</h3>
                <div class="col-sm-3 col-md-3">
                    <img src="<%= guide.RachelImg %>" class="img-thumbnail">
                </div>
                <div class="col-sm-9 col-md-9">
                    <blockquote>
                        <span><%= guide.Rachel%>
                </span>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="heroes-panel">
                        <h3>BEST DPS IN TOWN</h3>
                    </div>
                    <div class="row heroes-panel">
                        <div class="col-sm-4 col-md-4">
                            <img src="<%= guide.ShaneImg %>" class="img-thumbnail">
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <img src="<%= guide.DellonsImg %>" class="img-thumbnail">
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <img src="<%= guide.JupyImg %>" class="img-thumbnail">
                        </div>
                    </div>
                    <div class="heroes-panel">
                        <h3>YOU'D BETTER LOVE ME BABE!</h3>
                    </div>
                    <div class="row heroes-panel">
                        <div class="col-sm-4 col-md-4">
                            <img src="<%= guide.AceImg %>" class="img-thumbnail">
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <p><%= guide.Ace %></p>
                        </div>
                    </div>
                    <div class="row heroes-panel">
                        <div class="col-sm-4 col-md-4">
                            <img src="<%= guide.LinaImg %>" class="img-thumbnail">
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <p><%= guide.Lina %></p>
                        </div>
                    </div>
                    <div class="row heroes-panel">
                        <div class="col-sm-4 col-md-4">
                            <img src="<%= guide.EileeneImg %>" class="img-thumbnail">
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <p><%= guide.Eileene %></p>
                        </div>
                    </div>
                    <div class="row heroes-panel">
                        <div class="col-sm-4 col-md-4">
                            <img src="<%= guide.AliceImg %>" class="img-thumbnail">
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <p><%= guide.Alice %></p>
                        </div>
                    </div>
                    <div class="row heroes-panel">
                        <div class="col-sm-4 col-md-4">
                            <img src="<%= guide.SpikeImg %>" class="img-thumbnail">
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <p><%= guide.Spike %></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 right-cr">
                    <div class="right-cr-padding">
                        <div class="heroes-panel">
                            <div class="row">
                                <span>MONDAY - RUDY</span>
                                <span class="pull-right">Stun immune</span>
                            </div>
                        </div>
                        <div class="row heroes-panel">
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.RudyImg %>" class="img-thumbnail">
                            </div>
                            <div class="col-sm-3 col-md-3">
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.SiegImg %>" class="img-thumbnail">
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.KaronImg %>" class="img-thumbnail">
                            </div>
                        </div>
                        <div class="heroes-panel">
                            <span>Shield Remover</span>
                            <div class="row heroes-panel">
                                <div class="col-sm-3 col-md-3">
                                    <img src="<%= guide.JokerImg %>" class="img-thumbnail">
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <img src="<%= guide.RuriImg %>" class="img-thumbnail">
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <img src="<%= guide.RudyImg %>" class="img-thumbnail">
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <img src="<%= guide.HeaveniaImg %>" class="img-thumbnail">
                                </div>
                            </div>
                        </div>
                        <div class="heroes-panel">
                            <div class="row">
                                <span>TUESDAY - EILEENE</span>
                                <span class="pull-right">Counter</span>
                            </div>
                        </div>
                        <div class="row heroes-panel">
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.EileeneImg %>" class="img-thumbnail">
                            </div>
                            <div class="col-sm-3 col-md-3">
                            </div>
                            <div class="col-sm-3 col-md-3">
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.VictoriaImg %>" class="img-thumbnail">
                            </div>
                        </div>
                        <div class="heroes-panel">
                            <div class="row">
                                <span>WEDNESDAY - RACHEL</span>
                                <span class="pull-right">Counter</span>
                            </div>
                        </div>
                        <div class="row heroes-panel">
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.RachelImg %>" class="img-thumbnail">
                            </div>
                            <div class="col-sm-3 col-md-3">
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <img src="../src/img/any.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.HelleniaImg %>" class="img-thumbnail">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                *Any with remove debuff skills.
                            </div>
                        </div>
                        <div class="heroes-panel">
                            <div class="row">
                                <span>THUSDAY - DELLONS</span>
                                <span class="pull-right">Counter</span>
                            </div>
                        </div>
                        <div class="row heroes-panel">
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.DellonsImg %>" class="img-thumbnail">
                            </div>
                            <div class="col-sm-3 col-md-3">
                            </div>
                            <div class="col-sm-3 col-md-3">
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.YuiImg %>" class="img-thumbnail">
                            </div>
                        </div>
                        <div class="heroes-panel">
                            <div class="row">
                                <span>FRIDAY - JAVE</span>
                                <span class="pull-right">Counter</span>
                            </div>
                        </div>
                        <div class="row heroes-panel">
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.JaveImg %>" class="img-thumbnail">
                            </div>
                            <div class="col-sm-3 col-md-3">
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <img src="../src/img/any.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.MayImg %>" class="img-thumbnail">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                *Any with tanky passive for team survivability
                            </div>
                        </div>
                        <div class="heroes-panel">
                            <div class="row">
                                <span>SATURDAY - SPIKE</span>
                                <span class="pull-right">Counter</span>
                            </div>
                        </div>
                        <div class="row heroes-panel">
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.SpikeImg %>" class="img-thumbnail">
                            </div>
                            <div class="col-sm-3 col-md-3">
                            </div>
                            <div class="col-sm-3 col-md-3">
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.RaniaImg %>" class="img-thumbnail">
                            </div>
                        </div>
                        <div class="heroes-panel">
                            <div class="row">
                                <span>SUNDAY - KRIS</span>
                                <span class="pull-right">Counter</span>
                            </div>
                        </div>
                        <div class="row heroes-panel">
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.KrisImg %>" class="img-thumbnail">
                            </div>
                            <div class="col-sm-3 col-md-3">
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.LeoImg %>" class="img-thumbnail">
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <img src="<%= guide.KarinImg %>" class="img-thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <% include ../partials/facebook %>
        </div>
    </div>
    <div>
        <% include ../partials/footer %>
    </div>
</body>

</html>
