<html>

<head>
    <title>
        <%- Title %>
    </title>
    <% include ../partials/head %>
</head>

<body>
    <div>
        <% include ../partials/navigation %>
    </div>
    <div class="container main-content">
        <% include ../partials/top-ads %>
        <section>
            <div class="col-md-9 col-sm-9">
                <div class="tab-content">
                    <% SevenKnights.forEach(function(hero){ %>
                        <div role="tabpanel" class="tab-pane fade" id="<%= hero.Name %>">
                            <div class="item">
                              <img src="<%= hero.Img %>" class="img-thumbnail">
                              <div class="carousel-caption knight-thumbnail">
                                <h3><%= hero.Name %></h3>
                                <p><%= hero.Text %></p>
                              </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h2>Seven Knights</h2>
                    <ol id="knights-stack" class="nav nav-pills nav-stacked list-unstyled knights-list" role="tablist">
                        <% SevenKnights.forEach(function(hero){ %>
                            <li>
                                <h4><a href="#<%= hero.Name %>" data-toggle="tab"><%= hero.Name %></a></h4></li>
                            <% }); %>
                    </ol>
                </div>
            </div>
        </section>
    </div>
    <div>
        <% include ../partials/footer %>
    </div>
</body>

</html>

<script>
    (function() {
        $('#knights-stack li:eq(0) a').click()
    }());
</script>
